// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Add your own colors like this:

// Personal Color Scheme
$my-blue: #282f44;
$my-gold: #ccb379;
$my-gray: #ececec;


