
// Specific CSS for your home-page
.background{
  background-image: image-url('back.jpg');
  background-repeat: no-repeat;
  background-size: 375px;
}


.flags {
  padding-top: 241px;
  opacity: 0.8;
  display: block;
}

.col-3 {
  padding: 20px;
}


.def-wimp {
  font-family: Parisienne;
  font-size: 19px;
  bottom: 8px;
  margin-top: 8px;
  margin-left: 4px;
}
