// Specific CSS for your home-page
body {
  background-image: image-url('back.jpg');
  background-repeat: no-repeat;
  background-size: 375px;
}

.container{
 width: 300px
}

.flags {
  margin-top: 280px;
  opacity: 0.6;
}

.col-3 {
  padding: 10px;
}




