
// Specific CSS for your home-page
.background-container {
  background-image: image-url('back.jpg');
  background-repeat: no-repeat;
  background-size: 375px;
}

.container{
 width: 300px
}

.flags {
  padding-top: 280px;
  opacity: 0.6;
}

.col-3 {
  padding: 10px;
}


.def-wimp {
  font-family: Parisienne;
  font-size: 14px;
  position:fixed;
  bottom:0;
}
