.description h3 {
  text-align: center;
  font-size: 26px;
  font-family: Parisienne;
}

.description p {
  font-size: 12px;
  text-align: justify;
  font-family: Playfair Display;
}

.menu h1 {
  text-align: center;
  font-size: 26px;
  color: #f5d061;
  font-family: Parisienne;
}
