.description h5 {
  text-align: center;
  font-size: 18px;
  font-style: bold;
  color: #f5d061;

}

.description p {
  font-size: 12px;
  text-align: justify;
}

.menu h1 {
  text-align: center;
  font-size: 18px;
  color: #e6af2e;
}
