.restaurant {
  background-image: none;
  background-color: white;
}


.stick-me {
  position: fixed;
  right: 0;
  z-index: 3;
  top: 86px;
}

.awsome {
  background-color: white;
  border-radius: 25px 0 0 25px;
  font-size: 21px;
  color: #ccb379;
}

.awsome p {
  font-size: 14px;
}

#map {
  z-index: 2;
  position: fixed;
  top: 0;
  display: none;
  transition:.2s;
}

.tab-underlined {
  font-size: 21px;
}


