h2 {
font-family: Parisienne;
font-size: 24px;
}

.funky div {
  clear: both;
  overflow: hidden;
}

.funky label {
  display: block;
  position: relative;
  width: 90%;
  font-size: 14px;
  margin: 6px;
  padding: 10px 20px 6px 47px;
  border-radius: 100px;
  color: #0e0000;
  background-color: #ccb379;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.box-size {
  width: 45%;
}

.funky input[type="checkbox"]:empty {
  display: none;
}

.funky label::before {
 content: '';
  display: block;
  position: absolute;
  top: 6px;
    bottom: 8px;
    left: 11px;
    width: 23px;
    border: 2px solid black;
  border-radius: 100px;
}

.funky input:checked + label::before {
  background-color: black;
}
