h2 {
  font-family: Parisienne;
  font-size: 24px;
  margin-top: 8px;
  text-align: center;
}

.funky div {
  clear: both;
  overflow: hidden;
}

.funky label {
  display: block;
  position: relative;
  width: 90%;
  font-size: 14px;
  margin: 6px;
  padding: 9px 0px 6px 41px;
  border-radius: 100px;
  color: #0e0000;
  background-color: #ccb379;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.box-size {
  width: 45%;
}

.funky input[type="checkbox"]:empty {
  display: none;
}

.funky label::before {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  height: 19px;
  left: 11px;
  width: 19px;
  border: 1px solid black;
  border-radius: 100px;
}

.funky input:checked + label::before {
  background-color: black;
}
