
<% @restaurants.each do |restaurant| %>
  <div class="rows d-flex">
    <div class="col-sm card-trip">
      <img src="https://images.unsplash.com/photo-1517142099008-c2eb9227b575?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1985&q=80"/>
      <div class="card-trip-infos">
        <div class="name">
          <%= restaurant.name %>
        </div>
        <div class="style">
          <%= restaurant.food_style %>
        </div>
        <h2 class="card-trip-pricing">150m</h2>
      </div>
    </div>
  </div>
  <br>
<% end %>
