.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  opacity: 0.9;
}

// .home-banner {
//   background-image: url('TODO: A picture URL from unsplash.com!');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
// }
