.btn-chief {
  position: absolute;
  top: 16px;
  left: 316px;
  font-size: 16px;
  font-family: parisienne;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 5px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;

}
