.btn-delete {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Playfair Display ;
  padding: 2px;
  display: inline-block;
  color: white;
  background-color: #282f44;
  width: 100%;
  opacity: 0.8;
  position: center;
}
