
#skip {
padding: 2 2 2 2;
text-align: center;
}

.subutton {
color: white;
font-size: 20px;
line-height: 18px;
padding: 2px;
margin: 2px;
margin-left: 250px;
border-radius: 19px;
background-color: #62d2a2;
box-shadow: 10%;
border: 2px solid;
display: inline-block;}


.button2 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Playfair Display ;
  display: inline-block;
  color: #0e0000;
  background-color: #ececec;
  border-radius: 50px;
  width: 100%;
  margin-top: 5px;
}

