
#skip {
padding: 2 2 2 2;
text-align: center;
}

.button {
color: white;
font-size: 18px;
line-height: 18px;
padding: 9px;
border-radius: 19px;
background-color: #62d2a2;
box-shadow: 0px 0px 9px 0px;
border: 2px solid;
display: inline-block;}


.button2 {
color: white;
font-size: 18px;
line-height: 18px;
padding: 6px;
border-radius: 19px;
background-color: #d72323;
box-shadow: 0px 0px 9px 0px;
border: 2px solid;
display: inline-block;}

