// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.cards {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 6 15px rgba(0,0,0,0.5);
}

.card-category h3 {
  font-size: 22px;
  text-align: center;
  filter: contrast(1.75);
}

.card-category a {
  text-decoration: none;
  color: white;
  position: center;
  text-decoration: underline;
}

