.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 0;
  text-align: center;
}

.card-trip > img {
  // padding: 5px 0;
  height: 140px;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

// DESCRIPTION
 .name {
  font-family: Playfair Display;
  text-decoration: underline;
  font-weight: bold
}

.style {
  font-family: Parisienne;
  font-size: 18px;
}

 .address {
  font-family: Playfair Display;
  font-size: 14px;
}



