h2 {
font-family: Parisienne;
margin-top: 30px;
}

.funky div {
  clear: both;
  overflow: hidden;
}

.funky label {
  display: block;
  position: relative;
  width: 84%;
  font-size: 14px;
  margin: 8px;
  padding: 10px 20px 6px 47px;
  border-radius: 100px;
  color: #0e0000;
  background-color: #ccb379;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.box-size {
  width: 45%;
}

.funky input[type="checkbox"]:empty {
  display: none;
}

.funky label::before {
 content: '';
  display: block;
  position: absolute;
  top: 6px;
    bottom: 8px;
    left: 11px;
    width: 23px;
    border: 2px solid black;
  border-radius: 100px;
}

.funky input:checked + label::before {
  background-color: black;

}

// .funky input[type="checkbox"]:empty ~ label {
//   position: relative;
//   cursor: pointer;
//     -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
// }

// .funky input[type="checkbox"]:empty ~ label:before {
//   position: absolute;
//   display: block;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   content: '';
//   width: 2.5em;
//   background: #edc96c;
//   border-radius: 20px 0 0 20px;;
// }

// .funky input[type="checkbox"]:hover:not(:checked) ~ label {
//   color: #888;
// }

// .funky input[type="checkbox"]:hover:not(:checked) ~ label:before {
//   content: '\2714';
//   text-indent: .9em;
//   color: #C2C2C2;
// }

// .funky input[type="checkbox"]:checked ~ label {
//   // color: #777;
// }

// .funky input[type="checkbox"]:checked ~ label:before {
//   content: '\2714';
//   text-indent: .9em;
//   color: #333;
//   background-color: #ccc;
// }

// .funky input[type="checkbox"]:focus ~ label:before {
//   box-shadow: 0 0 0 3px #999;
// }

// .funky-warning input[type="checkbox"]:checked ~ label:before {
//   color: #fff;
//   background-color: #f0ad4e;
// }
