.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: Playfair;
}

#geoloc-target {
  position: absolute;
  z-index: 5;
  top: 18px;
  left: 8px;
  font-size: 30px;
  color: #ccb379;
}
