.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  font-family: Parisienne;
  font-size: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-nav {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
