.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  font-family: Parisienne;
  font-size: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-nav {
  margin-left: 120px;
  color: #ccb379;
}

.nav-item {
  color: #ccb379;
}

.nav-item a {
  color: #ccb379;
}

.menu {
  color: #ccb379;

}

.navbar-toggler {
  border: 0px #ccb379;
}
