
.title-review {
  font-size: 20px;
  font-style: bold;
  font-family: Parisienne;
  list-style: none;
  text-transform: capitalize;
  color: black;
  margin-right: 100px;
}

.contt-review {
  font-size: 14px;
  list-style: none;
  color: black;
}

.card-review {
  margin-bottom: 10px;
}

.reviews {
  background-color: #faebcd;
}

.sep-review {
  list-style: none;
}
