.toggle-container {
  position: relative;
  width: 250px;
  left: 20%;

}


.restaurant input {
  position: absolute;
  left: -9999px;
}

.restaurant label {
  display: block;
  position: relative;
  margin: 5px;
  padding: 11px 23px 8px 57px;
  border-radius: 100px;
  color: #0e0000;
  background-color: #e6af2e99;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.restaurant label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 14px;
  width: 23px;
  border: 3px solid white;
  border-radius: 100px;

}


.restaurant input:checked + label::before {
  background-color: white;

}

 #rest {
    background-position: center;
    margin: 15px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
     display: flex;
     align-items: center;
    justify-content: space-around;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

