.toggle-container {
  position: relative;
  width: 250px;
  left: 20%;
}

.restaurant input {
  position: absolute;
  left: -9999px;
}

.restaurant label {
  display: block;
  position: relative;
  margin: 12px;
  padding: 15px 30px 15px 80px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #e6af2e;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.restaurant label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}


.restaurant input:checked + label::before {
  background-color: #fff;
}

 #rest {
    background-position: center;
    margin: 15px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
     display: flex;
     align-items: center;
    justify-content: space-around;
}

.form-check-inline .form-check-input {
  position: none;
}
